@import '_mixins';
@import '_colors';

body {
    margin: 0;
    padding: 0;
    background: $gry-wht;
    font-family: 'Roboto Condensed', sans-serif;
}

#nav-bar {
    height: 5vh;
    ul {
        display: flex;
        flex-direction: row;
        list-style: none;
        background-color: #111;
        color: #000;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    li {
        line-height: 5vh;
        height: 5vh;
        width: 7rem;
    }
    a {
        text-decoration: none;
        color: $lgt-grn-mnt;
        display: block;
        transition: .3s background-color;
        &:hover {
            background-color: rgba(0,0,0,.5);
            color: white;
        }
    }
}